body {
    background-color: black;
}

.cartWidget {
    height: 50px;
    width: 50px;
}

.cardBody {
    margin: 30px;
    text-align: center;
    background-color: rgb(225, 221, 238);
}

.cart-body {
    color: white
}

.title-page {
    color: white;
    text-align: center;
    margin: 10px;
}

.item-in-cart {
    text-align: center;
}

.msj-success {
    margin: 5px;
    color: rgb(55, 146, 55);
}