body {
    background-color: black;
}

.cartWidget {
    height: 50px;
    width: 50px;
}

.cardBody {
    margin: 30px;
    text-align: center;
    background-color: rgb(225, 221, 238);
}

.cart-body {
    color: white
}